.card {
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(221, 221, 221) 0%,
    rgba(173, 173, 173, 0.5) 50%,
    rgba(64, 112, 78, 0) 100%
  );

  &:hover {
    cursor: pointer;
  }
}
