<div class="row">
  <div class="col-xs-12">
    <div class="card" (click)="openModal(event)">
      <img *ngIf="event.images" [src]="event.images[0]?.sizes.full.url" class="rounded"
        style="display: block; margin-top: 10px; margin-left: auto; margin-right: auto; width: 250px;" />
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h5 class="card-title text-wrap">{{ event.title }}</h5>
            <small class="text-dark">{{ event.start_datetime | date:'E MMM d @ hh:mma' }}</small>
            <p *ngIf="event.description_short" class="card-text" style="padding-top: 5px;">
              {{ event.description_short | truncate:[150] }}
            </p>
          </div>
          <div class="col-3">
            <div class="p-2" style="border: 1px solid; border-radius: 10px;">
              <div>
                <p class="mb-0 text-center"><small>{{ event.start_datetime | date:'MMM' }}</small></p>
                <p class="mb-0 text-center">{{ event.start_datetime | date:'d' }}</p>
                <p class="mb-0 text-center">{{ event.start_datetime | date:'E' }}</p>
              </div>
              <hr>
              <div>
                <p class="mb-0 text-center">{{ event.end_datetime | date:'MMM' }}</p>
                <p class="mb-0 text-center">{{ event.end_datetime | date:'d' }}</p>
                <p class="mb-0 text-center">{{ event.end_datetime | date:'E' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>