<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">
                <small class="text-muted">{{ event.start_datetime }}</small>
              </p>
            </div>
            <div class="col">
              <p class="card-text">{{ event.start_datetime }}</p>
              <p class="card-text">{{ event.end_datetime }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img [src]="event.images[0].full.url" alt="" class="card-img" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text">{{ event.description_short }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
